
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'lobster';
    src: local('lobster'), url(./fonts/Lobster-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: 'ubuntu';
    src: local('ubuntu'), url(./fonts/Ubuntu-Regular.ttf) format("truetype");
  }

  body {
    font-family: ubuntu;
  }

  h1 {
    font-family: lobster;
  }
  
}


