
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'lobster';
    src: local('lobster'), url(./fonts/Lobster-Regular.ttf) format("truetype");
  }

  @font-face {
    font-family: 'ubuntu';
    src: local('ubuntu'), url(./fonts/Ubuntu-Regular.ttf) format("truetype");
  }

  html {
    @apply h-full bg-color text-color;
  }

  body {
    @apply h-full;
    font-family: ubuntu;
  }

  h1 {
    font-family: lobster;
  }

  #root {
    @apply min-h-full relative;
  }
  
}

@layer utilities {

  .text-color-gray {
    @apply text-gray-500 dark:text-gray-300;
  }

  .bg-color-gray {
    @apply bg-gray-300 dark:bg-gray-600;
  }

  .text-color {
    @apply text-black dark:text-gray-100;
  }

  .bg-color {
    @apply bg-white dark:bg-gray-800;
  }

  .text-color-primary {
    @apply text-yellow-500;
  }

  .bg-color-primary {
    @apply bg-yellow-500;
  }

  .text-color-secondary {
    @apply text-gray-500;
  }

  .bg-color-secondary {
    @apply bg-gray-500;
  }
  
  .container-x {
    @apply container mx-auto px-2;
  }

  .btn-color-gray {
    @apply bg-color text-color-gray hover:bg-color-gray-h;
  }

  .btn-color-primary {
    @apply bg-color-primary text-white dark:text-gray-800 hover:bg-yellow-400 dark:hover:bg-yellow-300;
  }

  .list-x {
    @apply py-2 md:grid md:grid-cols-3 lg:grid-cols-5 md:gap-4;
  }

  .form-1-x {
    @apply my-10 max-w-md mx-auto sm:px-4 sm:pb-2 sm:pt-6 sm:rounded sm:shadow;
  }

  @variants hover {
    .bg-color-gray-h {
      @apply bg-gray-200 dark:bg-gray-700;
    }
  }
  

}






